<template>
    <div class="container m-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Presupuesta</div>

                    <div class="card-body">

                        <div class="form-group">
                            <label for="servicio_id">Servicio</label>
                            <select v-model="servicio" name="servicio_id"  class="form-control" @change="loadSubServicios">
                                <option value="">Selecciona un Servicio</option>
                                <option v-for="servicio in servicios" :value="servicio.id"  :key="servicio.id"  >{{ servicio.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subservicio_id">Sub Servicio</label>
                            <select v-model="subservicio" name="subservicio_id"  class="form-control" @change="loadProvincias">
                                <option value="">Selecciona un Sub Servicio</option>
                                <option v-for="subservicio in subservicios" :value="subservicio.id" :key="subservicio.id"  >{{ subservicio.name }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="region_id">Provincia</label>
                            <select c-mdel="provincia" name="region_id" id="region_id" class="form-control">
                                <option value="">Selecciona provincia donde se prestara el servicio</option>
                                <option v-for="provincia in provincias" :value="provincia.id" :key="provincia.id" >{{ provincia.region_name }}</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" @click="goTo()">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
  data() {
    return {
      servicios: [],
      subservicios: [],
      provincias: [],
      servicio: "",
      subservicio: "",
      provincia: ""
    };
  },
  mounted() {
    this.loadServicios();
  },
  methods: {
    loadServicios() {
      let url = "/api/servicios";
      this.dynamicDropdown(url, "servicios");
    },
    loadSubServicios() {
      let url = `/api/subservicios/${this.servicio}`;
      this.dynamicDropdown(url, "subservicios");
    },
    loadProvincias() {
      let url = `/api/provincia`;
      this.dynamicDropdown(url, "provincias");
    },
    dynamicDropdown(url, data) {
      axios
        .get(url)
        .then(response => (this[data] = response.data))
        .catch(error => console.log(error));
    },
    goTo() {
      window.open("/" + "opcionpresupuesto", "_self");
    }
  }
};
</script>
