<template>
<div class="container">


    <form-wizard @on-complete="onComplete"
    :start-index="0"
    color="#0BBA2E"
    title=""
    subtitle=""
    nextButtonText="sigiente"
    backButtonText="regresar"
    finishButtonText="finalizar"
    stepSize="sm"
    >
        <tab-content title="Definir servicio"
                    icon="">
        <el-form :inline="true" :model="formInline" class="demo-form-inline" :rules="rules" ref="ruleForm">
            <div class="container p-1">
                <el-tooltip class="item" effect="dark" content="Indique si el tipo de vivienda es Piso, Casa, Chalet, Duplex, Atico" placement="top">
                   <label class=" p-1" for="">Que tipo de vivienda es?</label><br>
                </el-tooltip><br>
                    <el-radio-group class="p-1" v-model="value5" size="medium">
                            <el-radio-button
                            v-for="vivienda in viviendatipo" :key="vivienda.id"
                            :label="vivienda.tipo"
                            :name="vivienda.tipo"
                            border
                            >
                            </el-radio-button>
                    </el-radio-group>
                    <el-row>
                        <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                    </el-row>
            </div>
            <div class="container">
                <el-tooltip class="item" effect="dark" content="Indique los m2 utiles de su vivienda, incluyendo la suma de todas las terrazas y balcones, sta suma no debe ser mayor a 20 m2" placement="top">
                   <label class=" p-1" for="">¿Cuántos metros2 tiene la vivienda?</label><br>
                </el-tooltip><br>
                <el-input-number v-model="numb5" controls-position="right" @change="handleChange" :min="35" :max="180"></el-input-number><br>
                <p class="p-2">Si su vivienda tiene menos de 35m2, más de 180m2 o su terraza y/o balcones suman más de 20m2 clique aquí para un presupuesto personalizado. </p>
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                </el-row>
            </div>
            <div class="container">
                 <el-tooltip class="item" effect="dark" content="Indique aquí el número de estancias de su vivienda entendiendo por estancia cada habitación, dormitorio, salón, cocina, baños, terraza, tendederos o galerías, lavadero, despensas etc." placement="top">
                   <label class=" p-1" for="">¿Cuántas estancias de todo tipo hay en la vivienda?</label><br>
                </el-tooltip><br>
                <el-select class="p-3" v-model="estancia1" clearable placeholder="Seleccionar">
                    <el-option
                    v-for="item in estancia"
                    :key="item.id"
                    :label="item.cantidad"
                    :value="item.precio">
                    </el-option>
                </el-select>
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark "></div></el-col>
                </el-row>
            </div>
            <el-form-item  >

            </el-form-item>

        </el-form>
        <el-collapse accordion>
            <el-collapse-item name="1">
                <template slot="title">
                COCINA<i class="header-icon el-icon-information"></i>
                </template>
                <el-form>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title=" Se limpia el polvo y suciedad de los armarios y, en caso de estar llenos de objetos o enseres, se vacian para poder limpiar su interior asi, como los cajones, y posteriormente, colocar dichos enseres en su lugar"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">La limpieza exterior de los armarios y cajones ya está incluida en la limpieza base, ¿quiere además que se limpie su interior? Y en el caso de querer, ¿estos armarios y cajones están llenos o vacíos de enseres?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="cocinainteriorcajones1" size="medium">
                            <el-radio-button
                                v-for="cajon in cocinainteriorcajones" :key="cajon.name"
                                :label="cajon.name"
                                :name="cajon.name"
                                :value="cajon.name"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                     <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Limpieza del polvo y suciedad acumulada en la estructura de los cajones asi; como sus railes, y el interior del propio cajon.  No se desmontaran si estan atornillados y se limpiaran siempre que su extraccion sea facil"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">La limpieza exterior de los cajones del mobiliario ya está incluida en la limpieza base, ¿quiere además que los cajones sean extraídos de su mueble y se limpie tanto el interior del cajón como el de su mueble?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="cocinainteriormueble1" size="medium">
                            <el-radio-button
                                v-for="mueble in cocinainteriormueble" :key="mueble.name"
                                :label="mueble.name"
                                :name="mueble.name"
                                :value="mueble.name"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Se desmontan filtros/rejillas de la campana para eliminar la grasa acumulada y reseca, igual con el horno y su estructura interior. Se limpia la nevera, baldas, puerta y sus gomas, etc. Atencion, cualquier electrodomestico muy degradado, y en particular los quemadores de gas y el horno, no se garantiza en absoluto que vayan a quedar limpios e impolutos"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">La limpieza exterior de horno, campana, nevera y microondas ya está incluida, ¿quiere que también se limpie su interior? Y en el caso de querer limpiarlos, ¿cómo se encuentran? Poco sucio es cuando hay algunos restos de comida y no están endurecidos, muy sucio lleva más de un mes sin limpiarse a fondo y los restos de comida están endurecidos.</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="cocinainteriorhorno1" size="medium">
                            <el-radio-button
                                v-for="horno in cocinainteriorhorno" :key="horno.name"
                                :label="horno.name"
                                :name="horno.name"
                                :value="horno.name"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Siempre que sea posible y no esten atornillados, se mueven los electrodomesticos para limpiar la parte posterior, asi como la zona en la que han estado apoyados desde su instalacion (suelos y paredes que suelen estar muy sucios)"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que los electrodomésticos y los embellecedores sean retirados y se limpien debajo de éstos y bajo los muebles, además del suelo y paredes donde están instalados y encajados?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="cocinainteriorelectr1" size="medium">
                            <el-radio-button
                                v-for="item in cocinainteriorelectr" :key="item.name"
                                :label="item.name"
                                :name="item.name"
                                :value="item.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Las juntas son la union de cemento o yeso de los azulejos. Podremos usar tecnicas de cepillado o vaporeta segun los operarios lo consideren"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">El fregado de azulejos ya está incluido en la limpieza base, ¿quiere además que se limpien las juntas de los azulejos (unión de las plaquetas)?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="cocinainteriorazulejo1" size="medium">
                            <el-radio-button
                                v-for="azulejo in cocinainteriorazulejo" :key="azulejo.id"
                                :label="azulejo.name"
                                :name="azulejo.name"
                                :value="azulejo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Las juntas son la union de cemento o yeso de la plaqueta o loseta. Podremos usar tecnicas de cepillado o vaporeta segun los operarios lo consideren"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">El barrido y/o aspirado y el fregado del suelo ya está incluido en la limpieza base, ¿quiere además que se limpien las juntas del suelo?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="cocinainteriorsuelo1" size="medium">
                            <el-radio-button
                                v-for="suelo in cocinainteriorsuelo" :key="suelo.id"
                                :label="suelo.name"
                                :name="suelo.name"
                                :value="suelo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>

                </el-form>

            </el-collapse-item>
            <el-collapse-item title="BAÑOS Y ASEOS" name="2">
                <el-form>
                     <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpie el interior de los armarios y cajones? Si es así, ¿cuántos quiere que se limpien? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="banointcajarm1" name="bano1" size="medium">
                            <el-radio-button
                                v-for="cajon in banointcajarm" :key="cajon.id"
                                :label="cajon.name"
                                :name="cajon.name"
                                :value="cajon.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for=""> La limpieza de espejos ya está incluida en la limpieza base, ¿quiere además que se limpie la mampara de la bañera o la ducha, si tuviera? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="banomampara1" name="bano2" size="medium">
                            <el-radio-button
                                v-for="mampara in banomampara" :key="mampara.id"
                                :label="mampara.name"
                                :name="mampara.name"
                                :value="mampara.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for=""> ¿Quiere que se limpien los sanitarios, plato de ducha y/o bañeras? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="banoplatoducha1" name="bano3" size="medium">
                            <el-radio-button
                                v-for="plato in banoplatoducha" :key="plato.id"
                                :label="plato.name"
                                :name="plato.name"
                                :value="plato.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for=""> El fregado de azulejos de las paredes ya está incluido en la limpieza base, ¿quiere además que se limpien las juntas de la pared, en el caso que fueran de azulejos?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="banojtaazulejo1" name="bano4" size="medium">
                            <el-radio-button
                                v-for="azulejo in banojtaazulejo" :key="azulejo.id"
                                :label="azulejo.name"
                                :name="azulejo.name"
                                :value="azulejo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for=""> ¿Quiere limpiar las zonas ennegrecidas en sanitarios por hongos o moho en caso de que tuviera? Si desea realizar esta limpieza, tenga en cuenta que no se retirará la silicona. más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="banohongos1" name="bano5" size="medium">
                            <el-radio-button
                                v-for="hongo in banohongos" :key="hongo.id"
                                :label="hongo.name"
                                :name="hongo.name"
                                :value="hongo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for=""> El barrido y/o aspirado y el fregado del suelo ya está incluido en la limpieza base, ¿quiere además que se limpien las juntas del suelo? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="banojtasuelo1" name="bano5" size="medium">
                            <el-radio-button
                                v-for="suelo in banojtasuelo" :key="suelo.id"
                                :label="suelo.name"
                                :name="suelo.name"
                                :value="suelo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                </el-form>
            </el-collapse-item>
            <el-collapse-item title="DORMITORIOS, SALON Y PASILLOS" name="3">
                <el-form>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">La limpieza de paredes quitando el polvo, las telarañas, pelusas etc así como la limpieza de espejos ya está incluida en la limpieza base, ¿quiere además que se limpien los enchufes, interruptores, radiadores, rodapiés, salidas de aire acondicionado y apliques/lámparas de la vivienda? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasienchufes1" name="dormi1" size="medium">
                            <el-radio-button
                                v-for="enchufe in dorsalpasienchufes" :key="enchufe.id"
                                :label="enchufe.name"
                                :name="enchufe.name"
                                :value="enchufe.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que sus sofás, sillones y colchones sean aspirados y vaporizados? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasisillonescolchones1" name="dormi2" size="medium">
                            <el-radio-button
                                v-for="sillon in dorsalpasisillonescolchones" :key="sillon.id"
                                :label="sillon.name"
                                :name="sillon.name"
                                :value="sillon.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que sus alfombras sean aspiradas y vaporizadas? Si es así, ¿cuántas? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasialfombras1" name="dormi3" size="medium">
                            <el-radio-button
                                v-for="alfombra in dorsalpasialfombras" :key="alfombra.id"
                                :label="alfombra.name"
                                :name="alfombra.name"
                                :value="alfombra.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se frieguen las puertas de la vivienda? Si es así, ¿cuántas quiere fregar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasipuertas1" name="dormi4" size="medium">
                            <el-radio-button
                                v-for="puerta in dorsalpasipuertas" :key="puerta.id"
                                :label="puerta.name"
                                :name="puerta.name"
                                :value="puerta.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpie el interior de los armarios roperos y/o empotrados? Si es así, ¿cuántos armarios quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasiintarm1" name="dormi5" size="medium">
                            <el-radio-button
                                v-for="armario in dorsalpasiintarm" :key="armario.id"
                                :label="armario.name"
                                :name="armario.name"
                                :value="armario.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpie el interior de la vitrina del salón y/o mueble mural? Si es así, ¿cuántos muebles quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasivitrina1" name="dormi6" size="medium">
                            <el-radio-button
                                v-for="vitrina in dorsalpasivitrina" :key="vitrina.id"
                                :label="vitrina.name"
                                :name="vitrina.name"
                                :value="vitrina.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">En el caso de que el material del suelo fuera parquet ¿quiere que le apliquemos cera líquida? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasisueloparquet1" name="dormi7" size="medium">
                            <el-radio-button
                                v-for="cera in dorsalpasisueloparquet" :key="cera.id"
                                :label="cera.name"
                                :name="cera.name"
                                :value="cera.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpie el interior de muebles bajos como aparadores, cómodas o cajoneras? Si es así, ¿cuántos quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasibajomueble1" name="dormi8" size="medium">
                            <el-radio-button
                                v-for="mueble in dorsalpasibajomueble" :key="mueble.id"
                                :label="mueble.name"
                                :name="mueble.name"
                                :value="mueble.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpien libros, adornos, aparatos electrónicos o marcos de fotos? Si es así, ¿cuántos quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasilibrosadornos1" name="dormi9" size="medium">
                            <el-radio-button
                                v-for="adorno in dorsalpasilibrosadornos" :key="adorno.id"
                                :label="adorno.name"
                                :name="adorno.name"
                                :value="adorno.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se retiren los muebles y/o armarios y se limpie la parte posterior de éstos así como las paredes y suelo donde se encuentran? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasimuebarmar1" name="dormi10" size="medium">
                            <el-radio-button
                                v-for="armario in dorsalpasimuebarmar" :key="armario.id"
                                :label="armario.name"
                                :name="armario.name"
                                :value="armario.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">El barrido y/o aspirado y el fregado del suelo ya está incluido en la limpieza base, ¿quiere además limpiar las juntas del suelo en caso de que éste fuera de gres, mármol o terrazo? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="dorsalpasijtasuelo1" name="dormi11" size="medium">
                            <el-radio-button
                                v-for="suelo in dorsalpasijtasuelo" :key="suelo.id"
                                :label="suelo.name"
                                :name="suelo.name"
                                :value="suelo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                    </div>

                </el-form>
            </el-collapse-item>
            <el-collapse-item title="VENTANAS Y CERRAMIENTOS EXTERIORES" name="4">
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpie el interior de las persianas ? Si es así, ¿cuántas quiere limpiar?</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="ventcerrintpers1" name="vent1" size="medium">
                            <el-radio-button
                                v-for="persiana in ventcerrintpers" :key="persiana.id"
                                :label="persiana.name"
                                :name="persiana.name"
                                :value="persiana.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpien persianas venecianas o mallorquinas en caso de tenerlas? Si es así, ¿cuántas quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="ventcerrpersvenec1" name="vent2" size="medium">
                            <el-radio-button
                                v-for="venecia in ventcerrpersvenec" :key="venecia.id"
                                :label="venecia.name"
                                :name="venecia.name"
                                :value="venecia.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">La limpieza de vidrios y cristales de las ventanas normales (con una sola línea de cristales sin contraventanas ni dobles ventanas) ya está incluida en la limpieza base, ¿quiere además que se limpien los marcos y raíles de estas ventanas? Si es así, ¿cuántas quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="ventcerrventmarco1" name="vent3" size="medium">
                            <el-radio-button
                                v-for="marco in ventcerrventmarco" :key="marco.id"
                                :label="marco.name"
                                :name="marco.name"
                                :value="marco.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Tiene doble ventana (una ventana delante de la otra) o contra ventanas (puertas de madera o metal que se ponen en la parte exterior de las ventanas)? Si es así, ¿cuántas quiere limpiar? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="ventcerrcontvent1" name="vent4" size="medium">
                            <el-radio-button
                                v-for="contra in ventcerrcontvent" :key="contra.id"
                                :label="contra.name"
                                :name="contra.name"
                                :value="contra.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpien ventanas grandes, miradores o puertas de cristal (hasta un máximo de 2.5m de altura y anchura, y cuyo acceso a la superficie exterior a limpiar no esté a más de 1.5m desde el acceso)? Si es así, ¿cuántos quiere limpiar? Si supera estas medidas deje marcado "no" y lea el "más info" más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="ventcerrventpan1" name="vent5" size="medium">
                            <el-radio-button
                                v-for="panoramica in ventcerrventpan" :key="panoramica.id"
                                :label="panoramica.name"
                                :name="panoramica.name"
                                :value="panoramica.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
            </el-collapse-item>
             <el-collapse-item title="TERRAZAS, EXTERIORES Y TENDEDEROS" name="4">
                <el-form>
                    <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se cepillen las paredes quitando el polvo, las telarañas y pelusas? Si tienen grafitti, hollín, humo, u otras manchas muy incrustadas, deje marcado "no" y lea el "más info" más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="terrextcepparedes1" name="terr1" size="medium">
                            <el-radio-button
                                v-for="pared in terrextcepparedes" :key="pared.id"
                                :label="pared.name"
                                :name="pared.name"
                                :value="pared.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpien los armarios por el interior y el exterior? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="terrextarmextint1" name="terr2" size="medium">
                            <el-radio-button
                                v-for="armario in terrextarmextint" :key="armario.id"
                                :label="armario.name"
                                :name="armario.name"
                                :value="armario.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se limpie la barandilla y/o perímetro de la terraza (ya sea de cristal, metal o azulejo)? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="terrextbarandilla1" name="terr3" size="medium">
                            <el-radio-button
                                v-for="barandilla in terrextbarandilla" :key="barandilla.id"
                                :label="barandilla.name"
                                :name="barandilla.name"
                                :value="barandilla.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>
                <div class="container p-1">
                        <el-popover
                            placement="top-start"
                            title="Colocar el texto"
                            width="200"
                            trigger="hover"
                            content="">
                        <p slot="reference"  class=" p-1" for="">¿Quiere que se barra, aspire y friegue el suelo? más info</p><br>
                        </el-popover>
                        <el-radio-group class="p-1" v-model="terrextsuelo1" name="terr4" size="medium">
                            <el-radio-button
                                v-for="suelo in terrextsuelo" :key="suelo.id"
                                :label="suelo.name"
                                :name="suelo.name"
                                :value="suelo.precio"
                                border
                                >
                            </el-radio-button>
                        </el-radio-group>
                        <el-row>
                            <el-col :span="24"><div class="grid-content bg-purple-dark"></div></el-col>
                        </el-row>
                </div>

                </el-form>
            </el-collapse-item>
             <el-collapse-item title="ZONAS GENERALES" name="4">
                <div>Decision making: giving advices about operations is acceptable, but do not make decisions for the users;</div>
                <div>Controlled consequences: users should be granted the freedom to operate, including canceling, aborting or terminating current operation.</div>
            </el-collapse-item>
        </el-collapse>
        </tab-content>
        <tab-content title="Elegir Fecha"
                    icon="">
                    <div class="container">

                    Aqui el calendario, en desarrollo por dias mas costosos, economicos y ocupados
                    </div>
        </tab-content>
        <tab-content title="Ver Presupuesto"
                    icon="">
        Aqui el Presupuesto
        </tab-content>
        <tab-content title="Realizar Reserva"
                    icon="">
        Aqui definir la pasarela de pago
        </tab-content>
    </form-wizard>


</div>

</template>

<script>
export default {
  data() {
    return {
      viviendatipo: [],
      dimension: [],
      estancia: [],
      cocinainteriorcajones: [],
      cocinainteriormueble: [],
      cocinainteriorelectr: [],
      cocinainteriorhorno: [],
      cocinainteriorazulejo: [],
      cocinainteriorsuelo: [],
      banohongos: [],
      banointcajarm: [],
      banojtaazulejo: [],
      banojtasuelo: [],
      banomampara: [],
      banoplatoducha: [],
      dorsalpasialfombras: [],
      dorsalpasibajomueble: [],
      dorsalpasienchufes: [],
      dorsalpasiintarm: [],
      dorsalpasijtasuelo: [],
      dorsalpasilibrosadornos: [],
      dorsalpasimuebarmar: [],
      dorsalpasipuertas: [],
      dorsalpasisillonescolchones: [],
      dorsalpasisueloparquet: [],
      dorsalpasivitrina: [],
      ventcerrcontvent: [],
      ventcerrintpers: [],
      ventcerrpersvenec: [],
      ventcerrventmarco: [],
      ventcerrventpan: [],
      terrextarmextint: [],
      terrextbarandilla: [],
      terrextcepparedes: [],
      terrextsuelo: [],
      cocinainteriorcajones1: "",
      cocinainteriormueble1: "",
      cocinainteriorelectr1: "",
      cocinainteriorhorno1: "",
      cocinainteriorazulejo1: "",
      cocinainteriorsuelo1: "",
      banohongos1: "",
      banointcajarm1: "",
      banojtaazulejo1: "",
      banojtasuelo1: "",
      banomampara1: "",
      banoplatoducha1: "",
      dorsalpasialfombras1: "",
      dorsalpasibajomueble1: "",
      dorsalpasienchufes1: "",
      dorsalpasiintarm1: "",
      dorsalpasijtasuelo1: "",
      dorsalpasilibrosadornos1: "",
      dorsalpasimuebarmar1: "",
      dorsalpasipuertas1: "",
      dorsalpasisillonescolchones1: "",
      dorsalpasisueloparquet1: "",
      dorsalpasivitrina1: "",
      ventcerrcontvent1: "",
      ventcerrintpers1: "",
      ventcerrpersvenec1: "",
      ventcerrventmarco1: "",
      ventcerrventpan1: "",
      terrextarmextint1: "",
      terrextbarandilla1: "",
      terrextcepparedes1: "",
      terrextsuelo1: "",
      viviendatipo: "",
      dimension: "",
      estancia1: "",
      value5: "",
      numb5: "1",
      formInline: {
        user: "",
        region: ""
      },

      rules: {
        user: [
          {
            required: true,
            message: "Please input Activity name",
            trigger: "blur"
          },
          {
            min: 3,
            max: 5,
            message: "Length should be 3 to 5",
            trigger: "blur"
          }
        ],
        region: [
          {
            required: true,
            message: "Please select Activity zone",
            trigger: "change"
          }
        ]
      }
    };
  },
  mounted() {
    this.loadviviendatipo();
    this.loaddimension();
    this.loadestancia();
    this.loadcocinainteriorcajonesarmario();
    this.loadcocinainteriormueble();
    this.loadcocinainteriorelectr();
    this.loadcocinainteriorhorno();
    this.loadcocinainteriorazulejo();
    this.loadcocinainteriorsuelo();
    this.loadbanohongos();
    this.loadbanointcajarm();
    this.loadbanojtaazulejo();
    this.loadbanojtasuelo();
    this.loadbanomampara();
    this.loadbanoplatoducha();
    this.loaddorsalpasienchufes();
    this.loaddorsalpasialfombras();
    this.loaddorsalpasibajomueble();
    this.loaddorsalpasiintarm();
    this.loaddorsalpasijtasuelo();
    this.loaddorsalpasilibrosadornos();
    this.loaddorsalpasimuebarmar();
    this.loaddorsalpasipuertas();
    this.loaddorsalpasisillonescolchones();
    this.loaddorsalpasisueloparquet();
    this.loaddorsalpasivitrina();
    this.loadventcerrcontvent();
    this.loadventcerrintpers();
    this.loadventcerrpersvenec();
    this.loadventcerrventmarco();
    this.loadventcerrventpan();
    this.loadterrextarmextint();
    this.loadterrextbarandilla();
    this.loadterrextcepparedes();
    this.loadterrextsuelo();
  },
  methods: {
    onComplete: function() {
      alert("terminado!");
    },
    loadviviendatipo() {
      axios
        .get("/api/viviendatipo")
        .then(response => (this.viviendatipo = response.data))
        .catch(error => console.log(error));
    },
    loaddimension() {
      axios
        .get("/api/dimension")
        .then(response => (this.dimension = response.data))
        .catch(error => console.log(error));
    },
    loadestancia() {
      axios
        .get("/api/estancia")
        .then(response => (this.estancia = response.data))
        .catch(error => console.log(error));
    },
    loadcocinainteriorcajonesarmario() {
      axios
        .get("/api/cocinainteriorcajonesarmario")
        .then(response => (this.cocinainteriorcajones = response.data))
        .catch(error => console.log(error));
    },
    loadcocinainteriormueble() {
      axios
        .get("/api/cocinainteriormueble")
        .then(response => (this.cocinainteriormueble = response.data))
        .catch(error => console.log(error));
    },
    loadcocinainteriorelectr() {
      axios
        .get("/api/cocinainteriorelectr")
        .then(response => (this.cocinainteriorelectr = response.data))
        .catch(error => console.log(error));
    },
    loadcocinainteriorhorno() {
      axios
        .get("/api/cocinainteriorhorno")
        .then(response => (this.cocinainteriorhorno = response.data))
        .catch(error => console.log(error));
    },
    loadcocinainteriorazulejo() {
      axios
        .get("/api/cocinainteriorazulejo")
        .then(response => (this.cocinainteriorazulejo = response.data))
        .catch(error => console.log(error));
    },
    loadcocinainteriorsuelo() {
      axios
        .get("/api/cocinainteriorsuelo")
        .then(response => (this.cocinainteriorsuelo = response.data))
        .catch(error => console.log(error));
    },
    loadbanohongos() {
      axios
        .get("/api/banohongos")
        .then(response => (this.banohongos = response.data))
        .catch(error => console.log(error));
    },
    loadbanointcajarm() {
      axios
        .get("/api/banointcajarm")
        .then(response => (this.banointcajarm = response.data))
        .catch(error => console.log(error));
    },
    loadbanojtaazulejo() {
      axios
        .get("/api/banojtaazulejo")
        .then(response => (this.banojtaazulejo = response.data))
        .catch(error => console.log(error));
    },
    loadbanojtasuelo() {
      axios
        .get("/api/banojtasuelo")
        .then(response => (this.banojtasuelo = response.data))
        .catch(error => console.log(error));
    },
    loadbanomampara() {
      axios
        .get("/api/banomampara")
        .then(response => (this.banomampara = response.data))
        .catch(error => console.log(error));
    },
    loadbanoplatoducha() {
      axios
        .get("/api/banoplatoducha")
        .then(response => (this.banoplatoducha = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasialfombras() {
      axios
        .get("/api/dorsalpasialfombras")
        .then(response => (this.dorsalpasialfombras = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasibajomueble() {
      axios
        .get("/api/dorsalpasibajomueble")
        .then(response => (this.dorsalpasibajomueble = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasienchufes() {
      axios
        .get("/api/dorsalpasienchufes")
        .then(response => (this.dorsalpasienchufes = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasiintarm() {
      axios
        .get("/api/dorsalpasiintarm")
        .then(response => (this.dorsalpasiintarm = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasijtasuelo() {
      axios
        .get("/api/dorsalpasijtasuelo")
        .then(response => (this.dorsalpasijtasuelo = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasilibrosadornos() {
      axios
        .get("/api/dorsalpasilibrosadornos")
        .then(response => (this.dorsalpasilibrosadornos = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasimuebarmar() {
      axios
        .get("/api/dorsalpasimuebarmar")
        .then(response => (this.dorsalpasimuebarmar = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasipuertas() {
      axios
        .get("/api/dorsalpasipuertas")
        .then(response => (this.dorsalpasipuertas = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasisillonescolchones() {
      axios
        .get("/api/dorsalpasisillonescolchones")
        .then(response => (this.dorsalpasisillonescolchones = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasisueloparquet() {
      axios
        .get("/api/dorsalpasisueloparquet")
        .then(response => (this.dorsalpasisueloparquet = response.data))
        .catch(error => console.log(error));
    },
    loaddorsalpasivitrina() {
      axios
        .get("/api/dorsalpasivitrina")
        .then(response => (this.dorsalpasivitrina = response.data))
        .catch(error => console.log(error));
    },
    loadventcerrcontvent() {
      axios
        .get("/api/ventcerrcontvent")
        .then(response => (this.ventcerrcontvent = response.data))
        .catch(error => console.log(error));
    },
    loadventcerrintpers() {
      axios
        .get("/api/ventcerrintpers")
        .then(response => (this.ventcerrintpers = response.data))
        .catch(error => console.log(error));
    },
    loadventcerrpersvenec() {
      axios
        .get("/api/ventcerrpersvenec")
        .then(response => (this.ventcerrpersvenec = response.data))
        .catch(error => console.log(error));
    },
    loadventcerrventmarco() {
      axios
        .get("/api/ventcerrventmarco")
        .then(response => (this.ventcerrventmarco = response.data))
        .catch(error => console.log(error));
    },
    loadventcerrventpan() {
      axios
        .get("/api/ventcerrventpan")
        .then(response => (this.ventcerrventpan = response.data))
        .catch(error => console.log(error));
    },
    loadterrextarmextint() {
      axios
        .get("/api/terrextarmextint")
        .then(response => (this.terrextarmextint = response.data))
        .catch(error => console.log(error));
    },
    loadterrextbarandilla() {
      axios
        .get("/api/terrextbarandilla")
        .then(response => (this.terrextbarandilla = response.data))
        .catch(error => console.log(error));
    },
    loadterrextcepparedes() {
      axios
        .get("/api/terrextcepparedes")
        .then(response => (this.terrextcepparedes = response.data))
        .catch(error => console.log(error));
    },
    loadterrextsuelo() {
      axios
        .get("/api/terrextsuelo")
        .then(response => (this.terrextsuelo = response.data))
        .catch(error => console.log(error));
    },
    handleChange(value) {
      console.log(value);
    }
  }
};
</script>
<style>
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 10px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
</style>
